Machine_Learning_with_Python/Module3/creditcard.csv
DL_with_Keras_and_TF/Module2/sample_data/
DL_with_Keras_and_TF/Module5/tuner_results/
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/oracle.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/tuner0.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_00/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_00/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_00/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_01/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_01/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_01/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_02/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_02/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_02/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_03/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_03/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_03/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_04/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_04/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_04/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_05/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_05/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_05/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_06/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_06/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_06/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_07/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_07/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_07/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_08/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_08/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_08/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_09/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_09/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_09/trial.json
DL_with_Keras_and_TF/Module6/sample_data/
Introduction_to_NN_and_PyTorch/Module1/img.tar.gz
Introduction_to_NN_and_PyTorch/Module1/index.csv
Introduction_to_NN_and_PyTorch/Module1/img/._fashion0.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion1.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion10.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion100.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion11.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion12.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion13.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion14.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion15.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion16.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion17.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion18.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion19.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion2.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion20.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion21.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion22.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion23.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion24.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion25.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion26.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion27.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion28.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion29.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion3.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion30.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion31.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion32.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion33.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion34.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion35.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion36.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion37.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion38.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion39.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion4.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion40.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion41.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion42.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion43.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion44.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion45.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion46.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion47.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion48.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion49.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion5.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion50.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion51.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion52.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion53.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion54.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion55.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion56.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion57.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion58.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion59.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion6.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion60.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion61.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion62.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion63.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion64.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion65.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion66.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion67.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion68.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion69.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion7.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion70.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion71.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion72.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion73.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion74.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion75.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion76.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion77.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion78.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion79.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion8.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion80.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion81.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion82.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion83.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion84.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion85.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion86.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion87.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion88.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion89.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion9.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion90.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion91.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion92.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion93.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion94.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion95.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion96.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion97.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion98.png
Introduction_to_NN_and_PyTorch/Module1/img/._fashion99.png
Introduction_to_NN_and_PyTorch/Module1/img/._img
Introduction_to_NN_and_PyTorch/Module1/img/fashion0.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion1.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion10.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion100.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion11.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion12.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion13.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion14.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion15.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion16.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion17.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion18.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion19.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion2.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion20.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion21.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion22.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion23.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion24.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion25.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion26.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion27.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion28.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion29.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion3.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion30.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion31.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion32.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion33.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion34.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion35.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion36.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion37.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion38.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion39.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion4.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion40.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion41.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion42.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion43.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion44.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion45.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion46.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion47.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion48.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion49.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion5.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion50.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion51.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion52.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion53.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion54.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion55.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion56.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion57.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion58.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion59.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion6.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion60.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion61.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion62.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion63.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion64.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion65.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion66.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion67.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion68.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion69.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion7.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion70.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion71.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion72.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion73.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion74.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion75.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion76.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion77.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion78.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion79.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion8.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion80.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion81.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion82.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion83.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion84.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion85.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion86.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion87.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion88.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion89.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion9.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion90.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion91.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion92.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion93.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion94.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion95.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion96.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion97.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion98.png
Introduction_to_NN_and_PyTorch/Module1/img/fashion99.png
*.gz
DL_with_PyTorch/Module2/data/MNIST/raw/t10k-images-idx3-ubyte
DL_with_PyTorch/Module2/data/MNIST/raw/t10k-labels-idx1-ubyte
DL_with_PyTorch/Module2/data/MNIST/raw/train-images-idx3-ubyte
DL_with_PyTorch/Module2/data/MNIST/raw/train-labels-idx1-ubyte
DL_with_PyTorch/Module3/data/MNIST/raw/t10k-images-idx3-ubyte
DL_with_PyTorch/Module3/data/MNIST/raw/t10k-labels-idx1-ubyte
DL_with_PyTorch/Module3/data/MNIST/raw/train-images-idx3-ubyte
DL_with_PyTorch/Module3/data/MNIST/raw/train-labels-idx1-ubyte
DL_with_PyTorch/Module4/data/MNIST/raw/t10k-images-idx3-ubyte
DL_with_PyTorch/Module4/data/MNIST/raw/t10k-labels-idx1-ubyte
DL_with_PyTorch/Module4/data/MNIST/raw/train-images-idx3-ubyte
DL_with_PyTorch/Module4/data/MNIST/raw/train-labels-idx1-ubyte
DL_with_PyTorch/Module5/data/MNIST/raw/t10k-images-idx3-ubyte
DL_with_PyTorch/Module5/data/MNIST/raw/t10k-labels-idx1-ubyte
DL_with_PyTorch/Module5/data/MNIST/raw/train-images-idx3-ubyte
DL_with_PyTorch/Module5/data/MNIST/raw/train-labels-idx1-ubyte
DL_with_PyTorch/Module6/.fashion/data/FashionMNIST/raw/t10k-images-idx3-ubyte
DL_with_PyTorch/Module6/.fashion/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
DL_with_PyTorch/Module6/.fashion/data/FashionMNIST/raw/train-images-idx3-ubyte
DL_with_PyTorch/Module6/.fashion/data/FashionMNIST/raw/train-labels-idx1-ubyte
*.pth
*.pt
*.zip
Gen_AI_Models_for_NLP/Module2/.vector_cache/glove.6B.100d.txt
Gen_AI_Models_for_NLP/Module2/.vector_cache/glove.6B.200d.txt
Gen_AI_Models_for_NLP/Module2/.vector_cache/glove.6B.300d.txt
Gen_AI_Models_for_NLP/Module2/.vector_cache/glove.6B.50d.txt
*.pdf
Gen_AI_LM_with_Transformers/Module2/train_bert_data_new.csv
Gen_AI_LM_with_Transformers/Module2/bert_dataset/.DS_Store
Gen_AI_LM_with_Transformers/Module2/bert_dataset/bert_test_data.csv
Gen_AI_LM_with_Transformers/Module2/bert_dataset/bert_test_data_sampled.csv
Gen_AI_LM_with_Transformers/Module2/bert_dataset/bert_train_data.csv
Gen_AI_LM_with_Transformers/Module2/bert_dataset/bert_train_data_sampled.csv
Gen_AI_LM_with_Transformers/Module2/Multi30K_de_en_dataloader.py
Gen_AI_Eng_and_FT_Transformers/Module1/wikitext_dataset_test.txt
Gen_AI_Eng_and_FT_Transformers/Module1/wikitext_dataset_train.txt
Gen_AI_Eng_and_FT_Transformers/Module1/.vector_cache/__MACOSX/._glove.6B
Gen_AI_Eng_and_FT_Transformers/Module1/.vector_cache/__MACOSX/glove.6B/._.DS_Store
Gen_AI_Eng_and_FT_Transformers/Module1/.vector_cache/glove.6B/.DS_Store
Gen_AI_Eng_and_FT_Transformers/Module1/.vector_cache/glove.6B/glove.6B.100d.txt
Gen_AI_Eng_and_FT_Transformers/Module1/cached_lm_BertTokenizerFast_126_wikitext_dataset_test.txt
Gen_AI_Eng_and_FT_Transformers/Module1/cached_lm_BertTokenizerFast_126_wikitext_dataset_train.txt
*.pkl
*.6B
Gen_AI_Adv_FT_for_LLMs/Module1/extracted_model/
