Machine_Learning_with_Python/Module3/creditcard.csv
DL_with_Keras_and_TF/Module2/sample_data/
DL_with_Keras_and_TF/Module5/tuner_results/
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/oracle.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/tuner0.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_00/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_00/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_00/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_01/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_01/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_01/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_02/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_02/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_02/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_03/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_03/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_03/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_04/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_04/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_04/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_05/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_05/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_05/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_06/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_06/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_06/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_07/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_07/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_07/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_08/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_08/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_08/trial.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_09/build_config.json
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_09/checkpoint.weights.h5
DL_with_Keras_and_TF/Module5/my_dir/intro_to_kt/trial_09/trial.json
DL_with_Keras_and_TF/Module6/sample_data/
